/* -------------------HEADER----------------------------- */
header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.pexels.com/photos/1146134/pexels-photo-1146134.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    /* Center and scale the image nicely */
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;

}

.side-nav{
    z-index: 1000;
}
nav{
    position: fixed;
    top: 0;left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;

}
.mob-social{
    width: 80%;
    margin: 0 10% 0 10%;
    max-block-size: 100%;
    border: 1px solid red;
    position: absolute;
    top: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    cursor: pointer;
}
.mob-social ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.mob-social i{
    margin: 12px;
}
nav ul{
    color: black;
}

nav ul li a:hover{
    color:darkgray;
}

.down{
    color: whitesmoke;
    position: absolute;
    top: 89vh;
    cursor: pointer;
    opacity: 0.3;
}

@media(max-width:699px)
{
    .down{
        top: 85vh;
    }
}
.down:hover{
    opacity: 1;
}
.intro-name{
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    line-height: 2rem;
}


.dropdown-content li>a{
    color: whitesmoke;
}
.dropdown-content li>a:hover{
    background-color: #eee;
}
.dropdown-content{
    background-color: black;
    color: white;
    position: relative;
    top: -70px;
}

@media (max-width:993px)
{
    .dropdown-content{
        top: -40px;
        position: relative;
        background-color: white;
    }
    .dropdown-content li>a{
    color: lightslategray;
    }   
}